<!-- <router-outlet></router-outlet> -->

<!--   ********Desktop View Start*********  -->
<mat-sidenav-container class="example-container" *ngIf="!mobileView">
    <mat-sidenav #sidenav class="sideNav" [(opened)]="opened" mode="side">
        <div class="row" style="padding: 16px 20px 20px 30px;">
            <div class="col-sm-12" class="sidemenu" routerLinkActive="active-link">
                <a [routerLink]="['/dashboard']">
                    <i class="fa fa-tachometer" aria-hidden="true"></i><br>
                    <span>Dashboard</span>
                </a>
            </div>
            <div class="col-sm-12" class="sidemenu" routerLinkActive="active-link">
                <a [routerLink]="['/assessment']">
                    <i class="fa fa-tasks" aria-hidden="true"></i><br>
                    <span>Assessment</span>
                </a>
            </div>
            <div class="col-sm-12" class="sidemenu" routerLinkActive="active-link">
                <a [routerLink]="['/dashboard']">
                    <i class="fa fa-laptop" aria-hidden="true"></i><br>
                    <span>My Library</span>
                </a>
            </div>
            <div class="col-sm-12" class="sidemenu" style="display: flex;align-items: end;margin-left: 5px;">
                <button class="btn btn-outline-danger">Admin</button>
            </div>
            <div class="col-sm-12" class="sidemenu" routerLinkActive="active-link" style="height: 85px;">
                <a [routerLink]="['/dashboard']">
                    <i class="fa fa-folder" aria-hidden="true"></i><br>
                    <span>Round Status</span>
                </a>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="row">
            <div style="display: flex;align-items: baseline;justify-content: flex-end;" class="col-sm-12">
                <button class="btn" (click)="mobile1()" *ngIf="!mobileView" style="color: #1C4980;">
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div style="background-color: whitesmoke;">
            <!-- <router-outlet></router-outlet> -->
            <app-assessment [mobileView]="mobileView"></app-assessment>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<!--   ********Desktop View End*********  -->

<!--   ********Mobile View Start*********  -->
<mat-sidenav-container class="example-container" *ngIf="mobileView" style="width: 400px;margin-left: 35%;">
    <mat-sidenav #sidenav class="sideNav" [(opened)]="opened" mode="over" style="background-color: whitesmoke;width: 300px;color: #1C4980;">
        <div class="row" style="padding: 16px 30px 20px 30px;">
            <div class="col-sm-12" style="display: flex;justify-content: space-between;font-size: 14px;font-weight: 500;">
                <span>Menu</span>
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
            <div class="col-sm-12" class="sidemenu1" routerLinkActive="active-link">
                <a [routerLink]="['/dashboard']">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>&nbsp;
                    <span>Dashboard</span>
                </a>
            </div>
            <div class="col-sm-12" class="sidemenu1" routerLinkActive="active-link">
                <a [routerLink]="['/assessment']">
                    <i class="fa fa-tasks" aria-hidden="true"></i>&nbsp;
                    <span>Assessment</span>
                </a>
            </div>
            <div class="col-sm-12" class="sidemenu1" routerLinkActive="active-link">
                <a [routerLink]="['/dashboard']">
                    <i class="fa fa-laptop" aria-hidden="true"></i>&nbsp;
                    <span>My Library</span>
                </a>
            </div>
            <hr>
            <div class="col-sm-7 col-6" class="sidemenu1" routerLinkActive="active-link">
                <a [routerLink]="['/dashboard']">
                    <i class="fa fa-folder" aria-hidden="true"></i>&nbsp;
                    <span>Round Status</span>
                </a>
            </div>
            <div class="col-sm-5 col-6" class="sidemenu">
                <button class="btn btn-outline-danger">Admin</button>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="row">
            <div style="display: flex;align-items: baseline;" class="col-sm-10">
                <button class="btn toggleMenu" (click)="toggleClick()" style="color: #1C4980;">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <p class="text1">Assessment</p>
            </div>
            <div class="col-sm-2" style="display: flex;align-items: baseline;">
                <button class="btn" (click)="desktop()" *ngIf="mobileView" style="color: #1C4980;">
                    <i class="fa fa-desktop" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div style="background-color: whitesmoke;">
            <app-assessment [mobileView]="mobileView"></app-assessment>
            <!-- <router-outlet></router-outlet> -->
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<!--   ********Mobile View End*********  -->