/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* .mat-mdc-tab-body-content {
    height: 100%;
    overflow: hidden !important;
} */

.mat-mdc-chip.mdc-evolution-chip--with-trailing-action .mat-mdc-chip-action-label {
    position: relative;
    font-size: 12px !important;
    font-weight: 500 !important;
}